# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
*.xcscmblueprint
*.xccheckout
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods (au cas où)
Pods/

# macOS
.DS_Store

# Fastlane / CI (au cas où)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
